@import url("färger.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headername{
    width: 100%;
    text-align: center;
    padding: 1.5rem;
}
.headername h1{
    font-size: 3rem;
}
.box{
    width: 90%;
    background: var(--lightgray);
    margin: 2rem auto 0 auto;
    border-radius: 0.7rem;
}
.listoutput {
    display: grid;
    grid-template-columns: 1.5fr auto 1fr auto;
    align-items: center;
    padding: 0.7rem;
}
.listoutput p:first-child {
    text-align: left;
}

.listoutput p:nth-child(2) {
    text-align: center;
}
.listoutput p:nth-child(3) {
    text-align: center;
}
.listoutput p:last-child {
    text-align: right;
}
.listoutput:nth-child(even){
    background-color: var(--darkgray);
}
.button{
    padding: 0.1rem 0.3rem;
}
.tillbakabutton{
    display: flex;
    flex-direction: row;
    place-content: center;
    margin-top: 1rem;
}
.tillbakabutton a{
    text-decoration: none;
    color: white;
    background-image: var(--bluepurplefade);
    padding: 0.7rem 2.5rem;
    border-radius: 0.7rem;
    margin-bottom: 2rem;
}