@import url("färger.css");
.navKonto{
    display: flex;
    flex-direction: column;
    background: rgb(228, 228, 228);
    width: 25%;
    margin: 1rem auto 0rem auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    gap: 1rem;
}
.navbuttons{
    display: flex;
    flex-direction: row;
    place-content: center;
    gap: 5rem;
}
.navbuttons a{
    text-decoration: none;
    color: black;
}
.navbuttons a.selected {
    text-decoration: underline;
}
.showuser{
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

@media screen and (max-width: 1050px){
    .navKonto{
        width: 55%;
    }
}