@import url("färger.css");
.baseplate{
    padding-bottom: 0.7rem;
}
.tillbakaknapp{
    display: grid;
    place-content: center;
}
.tillbakaknapp a{
    text-decoration: none;
    color: white;
    background-image: var(--bluepurplefade);
    padding: 0.7rem 2.5rem;
    border-radius: 0.7rem;
    border: 0;
    margin-bottom: 2rem;
}