@import url("färger.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --height: 25px;
    --progressfill: 25%;
}
body{
    height: 100dvh;
}
.headername{
    width: 100%;
    text-align: center;
    padding: 1.5rem;
}
.headername h1{
    font-size: 3rem;
}
.main{
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.statruta{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}
.avg-bar{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--lightgray);
    padding: 2rem 2.5rem;
    margin-left: 4rem;
    margin-top: 2rem;
    border-radius: 0.7rem;
    box-shadow: 5px 5px 5px 0 var(--grayshadow);
}
.avg-bar h2{
    text-decoration: underline;
}
.background-fill{
    background: gray;
    width: 100%;
    height: var(--height);
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
}
.avg-bar-fill{
    background: var(--purple);
    height: var(--height);
    width: var(--progressfill);
    border-radius: 0.5rem 0.2rem 0.2rem 0.5rem;
}
.avklaradepass{
    width: 35%;
    min-height: 400px;
    background: var(--lightgray);
    margin-right: 4rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px 0 var(--grayshadow);
    padding: 1.5rem 2.5rem;
}
.avklaradepass h2{
    text-decoration: underline;
    text-align: center;
}
.avklarepasslista{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}
.listoutput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}